
<p>El portal donde podrá crear sus propios juegos</p>
 
<!--
<% if( session.profesor){%>
		<p>Bienvedido <%= session.profesor.nombre %> <%= session.profesor.apellidos %>. Este es tu menú de gestión de profesor.</p>
<% } else if(session.alumno){%>
    	<p>Bienvedido <%= session.alumno.nombre %> <%= session.alumno.apellido1 %>. Este es tu menú de gestión de alumno.</p>
<% } %>
-->

